<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Registration Forms</title>
  </head>
  <body>
    <section>
      <div class="login-card">
        <h2>Login</h2>
        <form id="login">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
          <button type="submit">Login</button>
        </form>
        <h3>Dont't you have an account?</h3>
        <button type="button" id="ShowRegister">Register</button>
      </div>
      <dialog id="registerDialog"></dialog>
    </section>
    <script type="module" src="public/js/index.js"></script>
  </body>
</html>
